.section {
  padding-bottom: 336px;
}

.decoration {
  display: none;
}

.tags-list-wrapper {
  display: none;
}

.column--first {
  align-self: center;
  color: #fff;
}

.title {
  color: #fff;
  font-size: 28px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  line-height: 68px;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 24px;
}

.btn-second {
  display: none;
}

.mobile-wrapper {
  display: flex;
  position: absolute;
  padding: 0 20px;
  left: 0;
  top: 95px;
  width: auto;
  height: 312px;
  background-size: contain;
  background:  url("assets/background.png") no-repeat ;
}

.scroll {
  display: none;
}

.button-dark,
.btn-dark,
.button-wrapper {
  width: 100%;
}

.button-wrapper {
  display: flex;
  width: 100%;
}

.btn {
  width: 100%;
}

.text {
  font-size: 12px;
}

.title {
  font-size: 26px;
  line-height: 42px;
}

.button-wrapper:first-child {
  margin-bottom: 16px;
}

@media screen and (min-width: 300px) {
  .mobile-wrapper {
    margin-right: 20px;
    border-radius: 0 90px 9px 0;
  }

  .btn-group {
    width: 100%;
  }
}

@media screen and (min-width: 410px) {
  .mobile-wrapper {
    margin-right: 20px;
    border-radius: 0 90px 90px 0;
    right: 5%;
  }

  .btn-group {
    display: flex;
  }

  .button-wrapper {
    margin-right: 16px;
  }

  .button-wrapper:first-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 650px) {
  .mobile-wrapper {
    top: 170px;
    right: 150px;
  }

  .button-dark,
  .btn-dark,
  .button-wrapper {
    width: auto;
  }

  .btn {
    width: auto;
  }

  .title {
    font-size: 38px;
  }

  .text {
    font-size: 16px;
  }

  .section {
    padding-bottom: 372px;
  }
}

@media screen and (min-width: 768px){
  .mobile-wrapper {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px){
  .mobile-wrapper {
    position: static;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin-top: 150px;
  }

  .decoration {
    display: block;
    width: 100%
  }

  .column--second {
    width: 430px;
    margin-left: auto;
  }

  .title {
    color: #000;
    font-size: 50px;
  }

  .text {
    color: #000;
    font-size: 18px;
  }

  .tags-list-wrapper {
    display: flex;
    margin-bottom: 12px;
  }

  .btn-second {
    display: block;
  }

  .btn-dark {
    display: none;
  }

  .section {
    padding-bottom: 268px;
  }

  .scroll {
    display: block;
  }
}
