.middle {
    position: absolute;
    left: 50%;
    top: 665px;
    transform: translate(-50%, -50%);
    margin: auto;
}

.mouse {
    width: 58px;
    height: 88px;
    border: 2px solid #6C63FF;
    border-radius: 23px;
    margin: auto auto 8px;
}

.mouse::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 24px;
    background: #333;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 1.2s infinite;
}

@keyframes mouse {
    from{
        opacity: 1;
        top: 24px;
    }

    to{
        opacity: 0;
        top: 64px;
    }
}

.label {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    user-select: none;
}
