.button {
  display: inline-flex;
  padding: 12px 40px;
  border-radius: 6px;
  user-select: none;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
}

.button--primary {
  border: 1px solid rgba(255, 186, 73, 1);
  background-color: rgba(255, 186, 73, 1);
  color: #000;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button--primary:hover {
  background-color: rgba(255, 186, 73, 0.5);
  border-color: rgba(255, 186, 73, 0);
}

.button--secondary {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.button--secondary:hover {
  background-color: rgba(255, 186, 73, 0.5);
  color: #000;
}

.button--secondary-dark {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.button--purple {
  border: 1px solid #6C63FF;
  background-color: transparent;
  color: #6C63FF;
  padding: 8px 16px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button--purple:hover {
  background-color: #6C63FF;
  color: #ffffff;
}

.wide {
  width: 100%;
}

.button--hiddenLabel {
  padding: 12px;
}
