.wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.profile-wrapper {
    display: flex;
    margin-bottom: 16px;
}

.username {
    display: none;
}

.quiz-button {
    margin-right: 0;
    width: 100%;
}

.quiz-button-wrapper {
    display: flex;
}

.profileLink {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    transition: color 0.3s ease-in-out;
}

.profileLink:hover {
    color: #6C63FF;
}

.header-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 16px;
}

.logoutIcon {
    width: 16px;
    height: 16px;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.first-button {
    margin-right: 12px;
    margin-left: 12px;
}

@media screen and (max-width: 400px) {
    .first-button {
        font-size: 12px;
    }

    .userIcon {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .profile-wrapper {
        margin-bottom: 0;
        margin-left: 32px;
    }
}

@media (min-width: 1024px) {
    .username {
        display: block;
    }
}
