.wrapper {
  padding: 20px 0;
  flex-grow: 1;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

.form {
  width: 100%;
}

.illustration {
  display: none;
}

.title {
  margin-bottom: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.row + .row {
  margin-top: 16px;
}

.last-row {
  margin-top: 24px;
}

.link {
  display: inline-flex;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #6C63FF;
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .form {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    padding: 60px 0;
  }

  .title {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 100px 0 140px 0;
  }

  .illustration {
    display: block;
  }
}
