.wrapper {
    position: relative;
    flex-grow: 1;
    height: 660px;
}

.entry {
    background: url("../LockedTasksScreen/assets/entry-background.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 0 20px;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        position: static;
    }

    .entry {
        border-radius: 0;
    }
}

@media screen and (max-width: 550px) {
    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        width: 173px;
        height: 188px;
    }

    .time-left {
        font-size: 12px;
    }

    .button-wrapper {
        width: 100%;
    }

    .button {
        width: 100%;
    }
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.time-left {
    color: #FFBA49;
}

.time {
    font-weight: 500;
}

.locked {
    opacity: 0.4;
    pointer-events: none;
}

.btn + .btn {
    margin-top: 12px;
}

@media screen and (min-width: 768px) {
    .btn-group {
        display: flex;
        align-items: center;
    }

    .btn + .btn {
        margin-top: 0;
        margin-left: 12px;
    }
}
