.profile-wrapper {
    margin-top: 80px;
    margin-bottom: 275px;
}

.heading1 {
    margin-bottom: 32px;
}

.content {
    display: flex;
}

.list {
    width: 396px;
    list-style: none;
    padding: 0;
}

.list-item {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 42px;
}

.list-item + .list-item {
    margin-top: 18px;
}

.item-label {
    width: 100px;
    margin-right: 28px;
    flex-shrink: 0;
}

.item-content {
    position: relative;
    flex: 1;
}

.item-content:first-of-type {
    width: 100%;
}

.item-wrapper {
    position: relative;
    width: 100%;
}

.change-type {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    white-space: nowrap;
}

.info-block {
    position: relative;
}

.password-label {
    align-self: flex-start;
    transform: translateY(11px);
}
