.page-navigation {
  display: flex;
  list-style: none;
}

/*.list-item + .list-item {*/
/*  margin-left: 32px;*/
/*}*/

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
