.link {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.divider {
  width: 1px;
  height: 42px;
  margin: 0 16px;
  background-color: #000;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.label--mobile {
  font-size: 12px;
}

.label--white {
  color: #ffffff;
}

.divider--white {
  background-color: #ffffff;
}

.divider--mobile {
  height: 35px;
  margin: 0 12px;
}
