.item-content {
    position: relative;
    flex: 1;
}

.input-block {
    display: block;
    width: 100%;
}

.toggle-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.toggle-input:last-child {
    margin-bottom: 0;
}

.visibility-button {
    position: absolute;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.btn {
    margin-top: 12px;
}


@media (min-width: 768px) {
    .btn {
        margin-top: 0;
    }
}
