.wrapper {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -5px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.text {
    display: flex;
    justify-content: center;
    color: #29D13A;
    text-align: center;
}
