.header {
  padding: 30px 0;
}

.desktop-wrapper {

  display: none; /*TEMPORARY*/
  align-items: center;
}

.nav {
  display: none;
}

.navigation {
  margin-right: 100px;
}

.first-button {
  margin-right: 32px;
}



@media screen and (min-width: 700px) {



}


@media screen and (min-width: 1000px) {


  .desktop-wrapper {
    display: flex;
  }

  .mobile-wrapper {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

}
