.header {
  padding: 30px 0;
}

.desktop-wrapper {
  display: none; /*TEMPORARY*/
  align-items: center;
}

.tablet-wrapper {
  display: none;
}

.nav {
  display: none;
}

.navigation {
  margin-right: 100px;
}

.navigation li {
  margin-left: 32px;
}

.main-buttons {
  display: flex;
  gap: 32px;
}

@media screen and (min-width: 1000px) {
  .desktop-wrapper {
    display: flex;
  }

  .mobile-wrapper {
    display: none;
  }

  .tablet-wrapper {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

}
