.single-task-page {
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

h1 {
    font-size: 18px;
    font-weight: 500;
}

h2 {
    font-size: 14px;
    font-weight: 400;
}

h3 {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.6;
    margin: 0;
}

.task-block-wrapper {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: auto;
    padding: 16px;
    gap: 28px;
}

.task-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.task-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-desktop {
    display: none;
}

.header-mobile {
    flex-direction: column-reverse;
    gap: 16px;
}

.task-header {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    flex-direction: column;
}

.task-cost {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    gap: 4px;
    padding: 8px 32px;
    border: 1px solid #000;
    border-radius: 28px;
    align-items: center;
    font-size: 14px;
}

.task-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.submit-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.tip-block {
    display: flex;
    gap: 8px;
    align-items: center;
}

.tip-label {
    font-size: 12px;
    font-weight: 300;
    color: #FF3737;
}

.description,
.attachment {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.attachment-button {
    align-items: center;
    gap: 24px;
}

.submit-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
}

.back-link {
    text-decoration: none;
    color: #000;
}

.back-button {
    gap: 16px;
    align-items: center;
}

.control-button {
    align-items: center;
    gap: 8px;
}

.control-button:nth-child(2) {
    padding: 8px 8px 8px 16px;
}

.right-arrow-filled {
    order: 1;
    width: 24px;
    height: 24px;
}

.left-arrow-filled {
    width: 24px;
    height: 24px;
}

.download-icon {
    order: 1;
}

.tip-button {
    gap: 8px;
}

@media screen and (min-width: 430px){
    .task-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 640px){
    .task-body {
        flex-direction: row;
        gap: 80px;
    }

    .task-wrapper {
        max-width: 550px;
    }

    .submit-form {
        min-width: 220px;
    }

    .task-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .task-block-wrapper {
        padding: 34px 24px;
    }
}

@media screen and (min-width: 800px){
    .task-body {
        gap: 120px;
    }

    .submit-form {
        width: 270px;
    }

    .task-header {
        flex-direction: row;
        align-items: center;
    }

    .task-block-wrapper {
        gap: 100px;
    }
}

@media screen and (min-width: 1090px){
    .task-body {
        gap: 80px;
    }

    .task-block {
        gap: 16px;
    }

    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
    }

    .task-cost {
        width: auto;
    }

    .task-header {
        justify-content: flex-start;
        width: auto;
        gap: 40px;
    }

    .task-block-wrapper {
        gap: 100px;
    }
}

@media screen and (min-width: 1200px){
    .task-block-wrapper {
        gap: 160px;
        padding: 40px 80px;
    }

}

@media screen and (min-width: 1320px){
    .task-body {
        gap: 100px;
    }

    .task-wrapper {
        max-width: 400px;
    }
}
