.entry {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(38, 37, 52, 0.7);
    backdrop-filter: blur(7px);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.time-left {
    color: #FFBA49;
}

.time {
    font-weight: 500;
}

.locked {
    pointer-events: none;
}
