.pageWrapper {
  padding: 40px 0 100px;
}

.innerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
}

.back-link {
  text-decoration: none;
  color: #000;
}

.back-button {
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px){
  .innerWrapper {
    flex-direction: row;
    gap: 80px;
  }
}
