.pageWrapper {
  position: relative;
  flex-grow: 1;
  padding: 40px 0 100px;
}

.innerWrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-direction: column;
}

.back-button {
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
  color: #000;
}

.left-arrow-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1200px){
  .innerWrapper {
    flex-direction: row;
    gap: 80px;
  }

  .pageWrapper {
    position: static;
  }
}
